/* General resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

body {
    background-color: #b56b6b;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container */
.container { 
    padding: 2em;
    width: 800px;
    background-color: #1d1d1d;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}


.main-content h1 {
    padding: 40px;
    font-size: 36px;
    margin-bottom: 10px;
}

#inputtemp{
    font-size: 1.3em;
    margin-bottom: 30px;
    width: 70%;
}

.radiobtn {
    color: #ffffff;
    padding: 15px 25px;
    font-size: 1.1em;
    font-weight: bold;
}


/* submit button */
.btn{
    padding-left: 1.6em;
}


#submitbtn{
    font-size: 1.3em;
    padding: 5px 20px;
    text-align: center;
    cursor: pointer;
}

.btn :hover{
    background-color: #b56b6b;
    color: #ffffff;
}

#result  {
    font-size: 1.3em;
    padding: 1em 2em;
    /* margin: 20px; */
    color: #f8f5f5;
}

